<template>
  <div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link tag="a" to="/">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link tag="a" to="/tags">
              <a class="nav-link" href="#">Tags Admin</a>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style scoped>
.navbar {
  background-color: #6c757d;
}

#header {
  margin-bottom: 30px;
}
</style>