<template>
  <div class="auth">
    <amplify-authenticator>
      <amplify-sign-in slot="sign-in" hide-sign-up></amplify-sign-in>
    </amplify-authenticator>
  </div>
</template>

<script>

</script>

<style>

</style>