<template>
  <div id="home">
    <h1>Welcome, {{user.username}}</h1>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'

export default {
  name: 'Home',
  components: { },
  data() {
    return {
      user: {}
    }
  },
  beforeCreate() {
    Auth.currentAuthenticatedUser()
        .then(user => {
          this.user = user
        })
        .catch(() => console.log('not signed in...'))
  }
}
</script>

<style>

</style>