<template>
  <div id="tags-admin-home">
    <Header/>
    <TagTable/>
  </div>
</template>

<script>
import Header from './Header.vue'
import TagTable from './TagTable.vue'

export default {
  name: 'TagsAdminHome',
  components: {
    Header,
    TagTable
  }
}
</script>

<style>

</style>