<template>
  <tr>
    <td class="align-middle">{{tag.tagName}}</td>
    <td class="align-middle">
      <div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <TagType v-bind:parentTag=tag label="Band"/>
          <TagType v-bind:parentTag=tag label="Genre"/>
          <TagType v-bind:parentTag=tag label="Score"/>
          <TagType v-bind:parentTag=tag label="Other"/>
        </div>
      </div>
    </td>
  </tr>
</template>

<script>
import TagType from "./TagType.vue";

export default {
  name: 'TagItem',
  components: {TagType},
  props: {
    tag: Object
  }
}
</script>

<style>

</style>