<template>
  <div class="row justify-content-center">
    <div class="col-auto w-50">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th class="col-sm-6">Name</th>
            <th class="col-sm-5">Category</th>
          </tr>
        </thead>
        <tbody v-for="tag in tags" v-bind:key="tag.id">
          <TagItem :tag="tag"/>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import TagItem from "./TagItem.vue";
import {eventBus} from '../../main';

export default {
  name: 'TagTable',
  inject: ['tagService'],
  components: {TagItem},
  data() {
    return {
      tags: []
    }
  },
  methods: {
    loadTags() {
      this.tagService.findAll().then(response => this.tags = response.tags);
    },
    initializeTagChangeEventListener() {
      eventBus.$on('tag-change', (sourceTag) => {
        this.tags.find(tag => tag.tagName === sourceTag.tagName).type = sourceTag.type;
        this.tagService.updateTagType(sourceTag.tagName, sourceTag.type);
      });
    }
  },
  created() {
    this.initializeTagChangeEventListener();
    this.loadTags();
  }
}
</script>

<style scoped>
thead th {
  background-color: #6c757d;
  color: white;
}
</style>