<template>
  <label v-bind:class="{active: isActive(), focus: false}" class="btn btn-secondary" v-on:click="tagTypeClicked()">
    <input type="radio" name="options" autocomplete="off">{{label}}
  </label>
</template>

<script>
  import {eventBus} from '../../main';

  export default {
    name: 'TagType',
    props: {
      label: String,
      parentTag: Object
    },
    methods: {
      tagTypeClicked() {
        const oldType = this.parentTag.type;
        const newType = this.label.toUpperCase();
        if (oldType !== newType) {
          console.log('Type changed: Name=' + this.parentTag.tagName + ', OldType=' + oldType + ', NewType=' + newType);
          eventBus.$emit('tag-change', {tagName: this.parentTag.tagName, type: newType})
        }
      },
      isActive() {
        return this.parentTag.type === this.label.toUpperCase();
      }
    }
  }
</script>

<style scoped>
.btn-secondary {
  background-color: #919191;
  border-color: #919191;
}
</style>