<template>
  <div class="app">
    <AppHeader></AppHeader>
    <router-view></router-view>
    <!--<div class='sign-out'>
      <amplify-sign-out v-if="signedIn"></amplify-sign-out>
    </div>-->
  </div>
</template>

<script>
import { Auth, Hub } from 'aws-amplify'
import AppHeader from './components/AppHeader.vue'

export default {
  name: 'App',
  data() {
    return {
      signedIn: false
    }
  },
  components: { AppHeader },
  beforeCreate() {
    Hub.listen('auth', data => {
      const { payload } = data;
      if (payload.event === 'signIn') {
        this.signedIn = true;
        this.$router.push('/')
      }
      if (payload.event === 'signOut') {
        this.$router.push('/auth');
        this.signedIn = false
      }
    });
    Auth.currentAuthenticatedUser()
        .then(() => {
          this.signedIn = true
        })
        .catch(() => this.signedIn = false)
  }
}
</script>

<style>
/*body {
  background-color: #f0f0f0 !important;
}*/

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

amplify-authenticator {
  --amplify-primary-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}
</style>
